/* Arabic Css Here */
@import url("./fonts.css");

body {
    font-family: 'Gothic', 'Molarabic';
    font-weight: 600;
}



.menubar ul{
    text-align: left;
}

.footer-box ul li{
    padding-left: 0;
    padding-right: 28px;
}
.footer-box ul li img{
    left: inherit;
    right: 0;
}
