@import url("./fonts.css");

:root {
    --lbc: #333333;
    --dgc: #555555;
    --bc: #000000;
    --wsc: #FF4BA1;
    --wc: #ffffff;
    --wfc: #FCFCFF;
    --sc: #662d91;
    --gc: #A7A7A7;
    --abc: #3d4271;
    --lnc: #E5EAF5;
    --pgc: #8B8B8B;
    --irc: #1E425E;
    --fbg: #223343;
    --overlay: #662d91b0;

    --gb: linear-gradient(102.92deg, #1B1285 -36.3%, #643088 100%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gothic', 'Molarabic';
    font-weight: 600;
    font-size: 14px;
    color: var(--wc);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}
h1{
    font-weight: 600;
    font-size: 42px;
    line-height: 64px;
    color: var(--wc);
}
h3{
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    color: var(--abc);
}
h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--wsc);
}
h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--dgc);
}
h6{
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: var(--bc);
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--wc);
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
    color: var(--wsc);
}

button {
    border: none;
}

.view-btn a{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--wc);
    text-transform: capitalize;
    padding: 10px 35px;
    background: var(--sc);
}
.paragraph{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: var(--dgc);
}
.small-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--pgc);
}
.section-header {
    font-weight: 900;
    font-size: 50px;
    line-height: 70px;
    text-transform: uppercase;
    color: var(--abc);
}
.section-header span{
    color: var(--wsc);
}

.section-title h3{
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    color: var(--abc);
}
.section-title{
    position: relative;
}
.section-title h3::after {
    position: absolute;
    width: 150px;
    height: 5px;
    background: var(--wsc);
    top: 60px;
    left: 44%;
    content: '';
}


.p-card{
    border-radius: 7px;
    box-shadow: 0px 10px 25px 0px #00000040;
    background: var(--wc);
}
.p-card img{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.scrolled {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: .4s;
    box-shadow: 3px 3px 10px 0px #33333396;
}
