/* @font-face */
@font-face {
    font-family: "Gothic";
    src: url("../fonts/english/gothic/CenturyGothic.ttf");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Molarabic";
    src: url("../fonts//arabic/ArbFONTS-MOLarabicRegular.ttf");
    font-weight: normal;
    font-style: normal;
}









