@media only screen and (min-width: 991px) and (max-width: 1199px) {}

@media only screen and (max-width:991px) {
    /* Default CSS */
    body {
        font-size: 13px;
    }
    h1 {
        font-size: 42px;
        line-height: 52px;
    }
    h3 {
        font-size: 28px;
        line-height: 30px;
    }
    h5 {
        font-size: 18px;
        line-height: 22px;
    }
    h6 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .section-header {
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        margin-top: 20px;
    }
    .header-top p {
        font-weight: 600;
        text-align: center;
    }
    .header-top ul li {
        font-weight: 600;
    }
    .banner-content {
        padding: 80px 0px;
    }
    .search-bar {
        padding: 10px 20px;
    }
    .search-slt {
        font-size: 13px;
        padding-left: 8px;
        border-right: none;
    }
    .search-bar button {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
    }
    .quality-item {
        padding: 12px;
    }
    .section-title h3 {
        font-size: 32px;
        line-height: 45px;
    }
    .section-title h3::after {
        width: 130px;
        height: 2px;
        top: 52px;
        left: 42%;
    }
    .valet-parking img{
        display: none;
    }
    .valet-parking .view-btn a {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        padding: 15px 50px;
    }
    .rent-out .view-btn a {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        padding: 15px 50px;
    }
    .get-notificaiton .custom-control {
        height: 56px;
        font-size: 14px;
        line-height: 20px;
        padding-left: 8px;
    }
    .get-notificaiton button {
        font-size: 15px;
        line-height: 20px;
    }
    .footer-link {
        margin-top: 30px;
    }
    .copyright ul li {
        margin-left: 18px;
    }
}


@media only screen and (max-width:767px) {
    header {
        height: 65px;
    }
    .logo img {
        width: 215px;
    }
    .login-left {
        height: 390px;
    }

    /* Default CSS */
    body {
        font-size: 13px;
    }
    h1 {
        font-size: 32px;
        line-height: 40px;
    }
    h3 {
        font-size: 28px;
        line-height: 30px;
    }
    h5 {
        font-size: 18px;
        line-height: 22px;
    }
    h6 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .section-header {
        font-weight: 600;
        font-size: 28px;
        line-height: 35px;
        margin-top: 20px;
    }
    .header-top p {
        font-weight: 600;
        text-align: center;
    }
    .header-top ul li {
        font-weight: 600;
    }
    .banner-content {
        padding: 50px 0px;
    }
    .search-slt {
        font-size: 14px;
        padding-left: 8px;
        border-right: none;
    }
    .search-bar button {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .quality-item {
        padding: 12px;
    }
    .section-title h3 {
        font-size: 26px;
        line-height: 32px;
    }
    .section-title h3::after {
        width: 130px;
        height: 2px;
        top: 45px;
        left: 35%;
    }
    .valet-parking img{
        display: none;
    }
    .valet-parking .view-btn a {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        padding: 15px 50px;
    }
    .rent-out .view-btn a {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        padding: 15px 50px;
    }
    .get-notificaiton .custom-control {
        height: 56px;
        font-size: 14px;
        line-height: 20px;
        padding-left: 8px;
    }
    .get-notificaiton button {
        font-size: 15px;
        line-height: 20px;
    }
    .footer-link {
        margin-top: 30px;
    }
    .copyright ul li {
        margin-left: 18px;
    }





}

@media only screen and (max-width:575px) {
    /* Default CSS */
    body {
        font-size: 13px;
    }
    h1 {
        font-size: 32px;
        line-height: 40px;
    }
    h3 {
        font-size: 28px;
        line-height: 30px;
    }
    h5 {
        font-size: 18px;
        line-height: 22px;
    }
    h6 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .section-header {
        font-weight: 600;
        font-size: 28px;
        line-height: 35px;
        margin-top: 20px;
    }
    .header-top p {
        font-weight: 600;
        text-align: center;
    }
    .header-top ul li {
        font-weight: 600;
    }
    .banner-content {
        padding: 50px 0px;
    }
    .search-slt {
        font-size: 14px;
        padding-left: 8px;
        border-right: none;
    }
    .search-bar button {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .quality-item {
        padding: 12px;
    }
    .section-title h3 {
        font-size: 26px;
        line-height: 32px;
    }
    .section-title h3::after {
        width: 130px;
        height: 2px;
        top: 45px;
        left: 35%;
    }
    .valet-parking img{
        display: none;
    }
    .valet-parking .view-btn a {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        padding: 15px 50px;
    }
    .rent-out .view-btn a {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        padding: 15px 50px;
    }
    .get-notificaiton .custom-control {
        height: 56px;
        font-size: 14px;
        line-height: 20px;
        padding-left: 8px;
    }
    .get-notificaiton button {
        font-size: 15px;
        line-height: 20px;
    }
    .footer-link {
        margin-top: 30px;
    }
    .copyright ul li {
        margin-left: 18px;
    }





}

@media only screen and (max-width: 400px) {
    /* Default CSS */
    h1 {
        font-size: 32px;
        line-height: 40px;
    }
    h3 {
        font-size: 28px;
        line-height: 30px;
    }
    h5 {
        font-size: 18px;
        line-height: 22px;
    }
    h6 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .section-header {
        font-weight: 600;
        font-size: 28px;
        line-height: 35px;
        margin-top: 20px;
    }
    .header-top p {
        font-weight: 600;
        text-align: center;
    }
    .header-top ul li {
        font-weight: 600;
        margin: 5px 10px;
    }
    .banner-content {
        padding: 50px 0px;
    }
    .search-slt {
        font-size: 14px;
        padding-left: 8px;
        border-right: none;
    }
    .search-bar button {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .quality-item {
        padding: 12px;
    }
    .section-title h3 {
        font-size: 26px;
        line-height: 32px;
    }
    .section-title h3::after {
        width: 130px;
        height: 2px;
        top: 45px;
        left: 29%;
    }    
    .valet-parking img{
        display: none;
    }
    .valet-parking .view-btn a {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        padding: 15px 50px;
    }
    .rent-out .view-btn a {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        padding: 15px 50px;
    }
    .get-notificaiton .custom-control {
        height: 56px;
        font-size: 14px;
        line-height: 20px;
        padding-left: 8px;
    }
    .get-notificaiton button {
        font-size: 15px;
        line-height: 20px;
    }
    .footer-link {
        margin-top: 30px;
    }
    .copyright ul li {
        margin-left: 18px;
    }

    /* login responsive */
    .login-card button {
        margin-left: 22px;
    }


}




